:root {
    --orange: #d88b33;
    --pink: #D64E7A;
    --blueDark: #506cbc;
    --blueLight: #7693e7;
    --purple: #441d4f;
    --purpleDark: #3a1943;
    --purpleLight: #f7f0ff;
    --white: #F5F5F5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--white);
    min-width: 300px;
}

p {
    padding: .5rem 0;
}

h2 {
    margin-bottom: 10rem;
    color: var(--purple);
    font-size: 2rem;
    position: relative;
}

.max-width {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 0.5rem;
}

main {
    overflow: hidden;
}

.underline::after {
    content: '';
    background: var(--orange);
    width: 4rem;
    height: .4rem;
    border-radius: 2rem;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
}

#index .watermark {
    width: 120%;
    position: absolute;
    right: -10%;
    top: -5rem;
    min-width: 35rem;
}

/* Mobile first */

/* ----------------------------- Header ----------------------------------- */

header {
    background: var(--white);
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

#navbar {
    position: relative;
}

#navbar > * {
    position: absolute;
}

.logo {
    color: var(--orange);
    font-size: 1.5rem;
    top: .5rem;
    left: .5rem;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none;

}

nav {
    top: 0;
    transform: translateY(-100%);
    transition: all .5s;
    background: url(../media/menu-background.svg) bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    padding: 5rem 0;
    z-index: 1;
}

nav button {
    background: transparent;
    border: none;
    color: var(--orange);
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 800;
}

#hamburger {
    right: 0.5rem;
    top: 1rem;
    width: 2rem;
}

#close-menu {
    right: 0.5rem;
    top: .5rem;
    display: none;
    z-index: 2;
    width: 1.8rem;
}

.show-menu {
    transform: translateY(0);
}


/* ----------------------------- Hero ----------------------------------- */

#hero {
    margin-top: 8rem;
    position: relative;
    height: 90vh;
    color: var(--purple);
}

#hero > * {
    position: absolute;
}

#hero__text {
    top: 20%;
    left: 10%;
}

#hero__text h1 {
    font-size: 2.5rem;
    width: 19rem;
    margin: 0;
}

#hero__text h2 {
    font-size: 1rem;
}

#orange-dot {
    color: var(--orange);
}

#hero__computer {
    width: 130%;
    max-width: 50rem;
    right: -35%;
    top: 50%;
}

#hero__dots {
    top: 15%;
    left: 2%;
}

.bracket {
    display: none;
}

/* ----------------------------- About ----------------------------------- */

#about {
    background: var(--purple);
    margin-top: 10rem;
    position: relative; 
}

#about::before,
#about::after{
    content: '';
    background: var(--purple);
    opacity: .8;
    width: 100%;
    height: 2rem;
    position: absolute;
}

#about::before {
    top: -2rem;
}

#about__content {
    padding: 5rem .5rem;
    position: relative;
}

#about__text {
    color: var(--white);
    margin-bottom: 10rem;
    max-width: 35rem;
}

#about__text h2 {
    margin-bottom: 2rem;
    color: var(--white);
}

#about__img {
    position: relative;
}

#my-face {
    width: 80%;
    max-width: 20rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    box-shadow: .5rem .5rem var(--purpleDark);
}

#this-guy {
    position: absolute;
    width: 10rem;
    right: 5%;
    top: -4rem;
}

/* ----------------------------- My Work ----------------------------------- */

#my-work {
    position: relative;
    margin: 10rem auto;
}

.bubble {
    display: none;
}

.projects__card {
    margin-bottom: 5rem;
}

.projects__card h2 {
    margin: 0;
    color: var(--orange);
    font-size: .9rem;
    letter-spacing: .3rem;
    margin-top: 2rem;
}

.projects__card p {
    color: #575757;
    font-size: 1.1rem;
}

.projects__card h3 {
    font-size: 1.5rem;
    color: var(--purple);
}

.projects__card img {
    width: 100%;
}

.readMore {
    background-color: var(--pink);
    color: var(--white);
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .8rem 1.3rem;
    margin-top: 2rem;
    box-shadow: .3rem .3rem var(--purple);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

#get-in-touch {
    margin: 0 1rem;
    max-width: 80%;
}


/* ----------------------------- Modal ------------------------------------------ */

#modal-container {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    align-items: center;
    justify-content: center;
}

@keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

#modal-content {
    background: var(--white);
    height: 95%;
    width: 95%;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;

    animation: zoom .3s;
}

.modal-text {
    margin-top: 2rem;
}

#modal-content h1 {
    position: relative;
    max-width: 60%;
}

#modal-container ul {

    list-style-type: none;
    font-weight: 800;
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}


#close-modal {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    background: transparent;
    border: none;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons img {
    width: 1.6rem;
}

#close-modal img {
    width: 1.5rem;
}

/* ----------------------------- Footer ----------------------------------- */

footer {
    color: var(--orange);
    text-align: center;
    margin-top: 10rem;
    position: relative;
    z-index: 1;
}

.footer__background {
    position: absolute;
    width: 100%;
    height: 12rem;
    object-fit: cover;
    object-position: top;
    left: 0;
    bottom: 0;
}

footer h4 {
    padding: 2rem 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Tablet */

@media only screen and (min-width: 700px) {
 
    /* ----------------------------- Header ----------------------------------- */

    header {
        position: relative;
    }

    #navbar {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav {
        transform: translateY(0);
        background: transparent;
        flex-direction: row;
        gap: 2rem;
        right: .5rem;
        top: -1.3rem;
        height: 0;
        width: auto;
        padding: 0;
    }

    nav button {
        color: var(--purple);
        width: 6rem;
        cursor: pointer;
    }

    #hamburger {
        display: none !important;
    }

    #close-menu {
        display: none !important;
    }

    /* ----------------------------- Hero ----------------------------------- */

    #hero__text h1 {
        font-size: 3rem;
        width: 25rem;
    }

    #hero__text {
        font-size: 1.1rem;
        top: 0;
        left: 7%;
    }

    #hero__dots {
        width: 12rem;
        top: -13%;
        left: 1%;
    }

    #hero__computer {
        max-width: 60rem;
    }

    /* ----------------------------- About ----------------------------------- */

    #about {
        margin-top: 20rem;
    }

    #about__content {
        max-width: 40rem;
    }

    /* ----------------------------- My Work ----------------------------------- */

    #my-work {
        max-width: 40rem;
        margin: 10rem auto;
    }

    /* ----------------------------- Modal -------------------------------------- */

    #modal-content {
        height: 90%;
        width: 70%;
        max-width: 800px;
    }

    #modal-container ul {
        position: absolute;
        bottom: 0;
    }

    .icons {
        position: absolute;
        bottom: 1.5rem;
        right: 2rem;
    }

    /* ----------------------------- Footer -------------------------------------- */

    #footer {
        margin-top: auto;
    }

    #footer__background {
        max-height: 12rem;
    }
}

/* Desktop */

@media only screen and (min-width: 1000px) {

    #index .watermark {
        max-width: 50rem;
        right: auto;
        left: -5rem;
    }

    /* ----------------------------- Hero ---------------------------------------- */

    .bracket {
        display: block;
        height: 12rem;
    }

    #bracket1 {
        right: 30rem;
    }

    #hero__computer {
        width: 50rem;
        right: -15%;
        max-width: none;
        top: 0;   
    }

    /* ----------------------------- About ----------------------------------- */

    #about {
        margin-top: 5rem;
    }

    #about__content {
        max-width: 1200px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
    }

    #my-face {
        max-width: 25rem;
        width: 100%;
    }

    #about__text {
        margin: auto;
    }

    #about__text p {
        font-size: 1.2rem;
    }

    #this-guy {
        width: 12rem;
        right: -10%;
    }

    /* ----------------------------- My Work ----------------------------------- */

    #my-work {
        max-width: 1200px;
    }

    #my-work h2 {
        margin-top: auto;
    }

    .bubble {
        display: block;
        position: absolute;
    }

    #purple__bubble {
        right: 0;
        top: -14rem;
    }

    #orange__bubble {
        right: -4rem;
        top: -7rem;
    }

    #pink__bubble {
        left: -4rem;
        top: 40rem;
    }

    .projects__card {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 4rem;
    }

    .projects__card img {
        border-radius: 1rem;
    }

    .projects__card:nth-of-type(odd) {
        flex-direction: row-reverse;
    }

    .projects__card__copy {
        max-width: 35rem;
    }
    
    .readMore:hover {
        background-color: var(--purple);
        box-shadow: .3rem .3rem var(--pink);
    }
}
